<section class="image-banner">
  {%- if section.settings.image != blank -%}
    {{ section.settings.image | image_url: width: 1920 | image_tag: loading: 'lazy', widths: '375, 550, 750, 1100, 1500, 1780, 2000' }}
  {%- endif -%}
  <div class="image-banner__content">
    {%- if section.settings.heading != blank -%}
      <h2>{{ section.settings.heading }}</h2>
    {%- endif -%}
    {%- if section.settings.button_label != blank -%}
      <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_label }}</a>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Image banner",
  "settings": [
    { "type": "image_picker", "id": "image", "label": "Image" },
    { "type": "text", "id": "heading", "label": "Heading", "default": "Image banner" },
    { "type": "text", "id": "button_label", "label": "Button label" },
    { "type": "url", "id": "button_link", "label": "Button link" }
  ],
  "presets": [
    { "name": "Image banner" }
  ]
}
{% endschema %}